




.custom-shape-divider-top-1680008969 {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1680008969 svg {
    position: relative;
    display: inline-block;
    width: calc(100% + 1.3px);
    height: 172px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1680008969 .shape-fill {
    fill: #ffc60a;
}